<html>
<link rel='stylesheet' href='/stylesheets/style.css' />
<body>
  <div class="hdl">
    <a href="/home1"><img src = "../images/home.png"></a>
  </div>
  <div class="hdr">
    <p class="title" style="color:rgb(91,155,213);">刪除廠商</p>
  </div>
  <div style="width:100%;">

    </div>
    <br><br><br><br><br><br><br><br>
<div style="text-align:center;">

  <div style="position:relative;left:50%;margin-left:-250px;">
    <p style="background-color:#DDDDDD;border-radius:10px;height:200px;width:500px;text-align:center;margin:0px;font-size:40px;">
      公司：<%= delSupplier.SName %><br>聯絡人：<%= delSupplier.Contact_Person %><br>電話：<%= delSupplier.Phone %>

    </div>
    <br>
    <form name="sentMessage" action="/supplier/delete" method="POST" novalidate>
        <input type= "hidden" name="id" value="<%= delSupplier.id %>"/>
     <button class="button" type="submit" style="float:center;">刪除</button>
   </form>
     <button class="button" type="submit" style="float:center;" onclick="location.href='/productDetail'">取消</button>
    <a href="/sup"><img src = "./images/back.png" style="float:right;"></a>
  </div>
    </body>
</html>
