<html>
<link rel='stylesheet' href='/stylesheets/style.css' />
<body>
  <% include ../Shared/header %>
  <div class="hdl">
    <a href="/home1"><img src = "../images/home.png"></a>
  </div>
  <div class="hdr">
    <p class="title" style="color:rgb(91,155,213);">刪除廠商</p>
  </div>

    </body>
</html>
