<html>
<% include ../Shared/header %>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <body>
        <div class="hdr">
            <p class="title">新增零件</p>
        </div>
        <br><br><br><br>
        <div class="col-md-12">
            <form name="sentMessage" action="/addProduct" method="POST" id="contactForm" novalidate>
                <table class="table table-bordered">
                    <tr>
                        <th class="th2">商品</th>
                        <th class="th2">廠牌</th>
                        <th class="th2">規格</th>
                        <th class="th2">售價</th>
                        <th class="th2">安全存量</th>
                    </tr>
                    <tr>
                        <td class="td0"><input type="text" class="form-control" name="PName"></td>
                        <td class="td0"><input type="text" class="form-control" name="Types"></td>
                        <td class="td0"><input type="text" class="form-control" name="Specification"></td>
                        <td class="td0"><input type="text" class="form-control" name="Sales_Price"></td>
                        <td class="td0"><input type="text" class="form-control" name="SafeQuantity"></td>
                    </tr>
                </table>
                <button class="btn btn-default" type="submit" style="float:center;">新增</button>
            </form>
        </div>
    </body>

</html>
