<% include ../Shared/header %>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <div class="hdr">
        <p class="title">進貨退回</p>
    </div>
    <form name="sentMessage" action="/bkpurchase" method="POST" novalidate>
        <br><br><br>
        <p class="input">供應商<input type="text" class="text" name="SName" value="祥發"></p>
        <p class="input">總額<input type="text" class="text" name="TPrice" value="2000"></p>
        <p class="input">狀態<input type="text" class="text" name="Status" value="已處理"></p>
        <div style="width:100%;">
        </div>
        <button id="button" class="button1" type="submit">確認</button>
    </form>
