<% include ../Shared/header %>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <div class="hdr">
        <p class="title">進貨退回</p>
    </div>
    <form name="sentMessage" action="/bkpurList" method="POST" novalidate>
        <div style="text-align:center;width:100%">
            <div style="position:relative;left:30%;width:25%;">
                <div style="background-color:#F6F8F1;border-radius:2px;height:80px;width:100%;text-align:left;margin:0px;padding-left:20px;padding-top:8px;">
                    <span>供應商：</span>
                    <span>
                  <%= bkpurchase.SName %>
              </span>
                    <br>
                    <span>總&nbsp&nbsp&nbsp額：</span>
                    <span>
                  <%= bkpurchase.TPrice %>
              </span>
                    <br>
                </div>
                <br>
            </div>
            <p style='color:red'>無存貨或存貨不足，請重新輸入</p>

            <div style="width:90%;">
                <table class="table table-bordered" style="text-align:center;">
                    <tr>
                        <th class="th2">名稱</th>
                        <th class="th2">廠牌</th>
                        <th class="th2">規格</th>
                        <th class="th2">數量</th>
                        <th class="th2">單價</th>
                        <th class="th2">小計</th>
                    </tr>
                    <% for(i=0;i<10;i++) { %>
                        <tr class="tr_odd">
                            <td class="td0"><input type="text" class="text1" name="Sales_PName" value=""></td>
                            <td class="td0"><input type="text" class="text1" name="Sales_Types" value=""></td>
                            <td class="td0"><input type="text" class="text1" name="Sales_Specification" value=""></td>
                            <td class="td0"><input type="text" class="text1" name="Sales_Quantity" value=""></td>
                            <td class="td0"><input type="text" class="text1" name="Sales_Price" value=""></td>
                            <td class="td0"><input type="text" class="text1" name="SubPrice" value=""></td>
                            <input type="hidden" name="tableList" value="<%=i%>"></input>
                        </tr>
                        <%  }; %>
                </table>
            </div>
            <button id="button" class="button" type="submit">確認</button>
    </form>
