<html>
<% include ../Shared/header %>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <body>
        <div class="hdr">
            <p class="title">刪除廠商</p>
        </div>
        <br><br><br>
        <div style="text-align:center;width:100%">
            <div style="position:relative;left:25%;width:50%;right:25%;">
                <form name="sentMessage" action="/supplier/delete" method="POST" novalidate>
                    <div style="background-color:#F6F8F1;border-radius:2px;height:auto;width:100%;text-align:left;margin:0px;padding-left:20px;padding-top:8px;">
                        <span>公司：</span>
                        <span>
                  <%= delSupplier.SName %></span>
                        <br>
                        <span>聯絡人：</span>
                        <span>
                  <%= delSupplier.Contact_Person %>
                </span><br>
                        <span>電話：</span>
                        <span>
                <%= delSupplier.Tell1 %>
              </span><br>
                    </div>
            </div>
            <input type="hidden" name="id" value="<%= delSupplier.id %>" />
            <button class="btn btn-default" type="submit" style="float:center;">刪除</button>
            </form>
            <button class="btn btn-default" type="submit" style="float:center;" onclick="location.href='/supplier'">取消</button>
        </div>
    </body>

</html>
