<html>
<% include ../Shared/header %>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <body>
        <div class="hdr">
            <p class="title">新增廠商</p>
        </div>
        <br><br><br><br>
        <div class="col-md-12">
            <form name="sentMessage" action="/sup" method="POST" id="contactForm" novalidate>
                <table class="table table-bordered">
                    <tr>
                        <th class="th2">廠商名稱</th>
                        <th class="th2">聯絡人</th>
                        <th class="th2">電話1</th>
                        <th class="th2">電話2</th>
                        <th class="th2">傳真</th>
                        <th class="th2">統一編號</th>
                    </tr>
                    <tr>
                        <td class="td0"><input type="text" class="form-control" name="SName"></td>
                        <td class="td0"><input type="text" class="form-control" name="Contact_Person"></td>
                        <td class="td0"><input type="text" class="form-control" name="Tell1"></td>
                        <td class="td0"><input type="text" class="form-control" name="Tell2"></td>
                        <td class="td0"><input type="text" class="form-control" name="Fax"></td>
                        <td class="td0"><input type="text" class="form-control" name="UniformNum"></td>
                    </tr>
                    <tr>
                        <th class="th2">地址</th>
                        <td class="td0" colspan="5"><input type="text" class="form-control" name="Addr"></td>
                    </tr>
                </table>
                <button class="btn btn-default" type="submit" style="float:center;">新增</button>
                <button class="btn btn-default" onclick="location.href='/supplierDetail'" style="float:center;">取消</button>
            </form>
        </div>
    </body>

</html>
