<% include ../Shared/header %>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
        $('input[name="optionsRadios"]').on('change', function() {
            if ($(this).val() == 'update') {

                //change to "show update"
                $("#cont").text("現金支付");

            } else {

                $("#cont").text("信用卡");
            }
        });
    </script>

    <body>
        <div class="hdr">
            <p class="title">結帳登記</p>
        </div>
        <div class="container2" style="overflow-x:auto;">
            <table style="width:100%;height:100px;margin:3px;">
                <tr>
                    <td class="td">收款日期</td>
                    <td class="td2">
                        <input class="text0" type="text" name="ReceiveDate" id="ReceiveDate">
                    </td>
                    <td class="td">車主:</td>
                    <td class="td2">
                        <form class="form1" action="/customer" method="POST" novalidate>
                            <input class="text0" type="text">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td class="td">工單號碼:</td>
                    <td class="td2">
                        <form class="form1" action="/worklist" method="POST" novalidate>
                            <input class="text0" type="text">
                        </form>
                    </td>
                    <td class="td">車牌:</td>
                    <td class="td2">
                        <form class="form1" action="/worklist" method="POST" novalidate>
                            <input class="text0" type="text">
                        </form>
                    </td>
                    <td class="td2" colspan="3" style="width:100%">
                        <form class="form1" style="float:left;">
                            <button style="background-color:transparent;border:0px;"><img style="height:40px;" src="../images/images/search.png"></a>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <div class="container">

  <table class="table table-hover">
    <thead>
      <tr>
        <th>No.</th>
        <th><image src='../public/images/images/cash.png'></th>
        <th>完成日期</th>
        <th>工單號碼</th>
        <th>車牌</th>
        <th>零件金額</th>
        <th>工資金額</th>
        <th>小計</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td><image src='../public/images/images/creditcard.png'></td>
        <td>2017/04/28</td>
        <td>20170428001</td>
        <td>ABCD-87</td>
        <td>1000</td>
        <td>1000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td>2</td>
        <td></td>
        <td>2017/04/28</td>
        <td>20170428002</td>
        <td>ABCD-87</td>
        <td>1000</td>
        <td>1000</td>
        <td>2000</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container">
  <label class="radio inline">
      <input id="up_radio" type="radio" name="optionsRadios" value="cash" checked>
      現金
  </label>

  <label class="radio inline">
      <input id="ov_radio" type="radio" name="optionsRadios" value="creditcard">
      信用卡
  </label>

  <p id="cont">
  </p>
  <p>應收金額:<input type="text" class="receivable"></p>
  
</div>
</body>
