<html>
<% include ../Shared/header %>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-ui-datepicker.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#OutTime").datepicker();
        });
    </script>

    <script type="text/javascript">
        $(function() {
            $("#InTime").datepicker();
        });
    </script>

    <body>

        <div class="hdr">
            <p class="title">車歷卡</p>
        </div>
        <p id="de"></p>
        <br><br><br>

        <br><br>
        <div class="container3"style="overflow-x:auto;">

          <table class="table2">
            <tr>
              <th class="th2">料號</th>
                <th class="th2">名稱</th>
                  <th class="th2">數量</th>

                            </tr>
                            <%

                            materiallist.forEach(function(car) {

                              %>
                            <tr>
                              <td class="td0" ><%= car.Id %></td>
                              <td class="td0" ><%= car.PName %></td>
                              <td class="td0" ><%= car.MQuantity %></td>



                            </tr>
                            <%  }); %>

                            </table>
                          </div>

</body>

</html>
