<html>
<% include ../Shared/header %>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-ui-datepicker.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#OutTime").datepicker();
        });
    </script>

    <script type="text/javascript">
        $(function() {
            $("#InTime").datepicker();
        });
    </script>

    <body>

        <div class="hdr">
            <p class="title">車歷卡</p>
        </div>
        <p id="de"></p>
        <br><br><br>
        <div class="container2" style="overflow-x:auto;">
            <table style="width:100%;height:100px;margin:3px;">
                <tr>
                    <td class="td">車牌:</td>
                    <td class="td2">
                        <form class="form1" action="/worklist/carHistorySearch" method="POST" novalidate>
                            <input type="text" name=CarId class="underline" size="5" placeholder="請輸入車牌">
                      
                    </td>

                    <td>

                            <button style="background-color:transparent;border:0px;"><img style="height:40px;" src="../images/images/search.png">
                            </form>
                          </td>
                </tr>
            </table>
        </div>
        <br><br>
        <div class="container3"style="overflow-x:auto;">

          <table class="table2">
            <tr>
              <th class="th2">完工日</th>
                <th class="th2">工單號碼</th>
                  <th class="th2">進廠里程</th>
                    <th class="th2">更多</th>

                            </tr>
                            <%

                            worklist.forEach(function(car) {

                                %>

                            <tr>
                              <td class="td0" ><%= car.OutDate %></td>
                              <td class="td0" ><%= car.WorkId %></td>
                              <td class="td0" ><%= car.Miles %></td>


                              <td class="td0">
                                <form action="/worklist/carHistoryDetail" method="POST" novalidate style="float:left;margin:5px;">
                                    <input type="hidden" name="WorkId" value="<%= car.WorkId %>" />
                                    <button style="background-color:transparent;border:0px;"><img style="height:40px;" src="../images/images/edit.png"></button>
                                </form>
                              </td>


                            </tr>

                            <%  }); %>

                            </table>
                          </div>

</body>

</html>
