<% include ../Shared/header %>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <div class="hdr">
        <p class="title">銷貨</p>
    </div>
    <form name="sentMessage" action="/sales" method="POST" novalidate>
        <br><br><br>
        <p class="input">客戶<input type="text" class="text" name="CName" value="財宇機械"></p>
        <p class="input">銷售額<input type="text" class="text" name="TSales" value="20000"></p>
        <p class="input">狀態<input type="text" class="text" name="Status" value="已送出"></p>
        <button id="button" class="btn btn-default" type="submit">確認</button>
    </form>
